# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# List all files colorized in long format, including dot files
alias la="ls -Glah"

# List only directories
alias lsd='ls -Glah | grep "^d"'

# List all files coloried in long format, excluding dot files
alias ll='ls -Glh'

# Always use color output for `ls`
if [[ "$OSTYPE" =~ ^darwin ]]; then
  alias ls="command ls -G"
else
  alias ls="command ls --color"
  export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
fi

# File size
alias fs="stat -f \"%z bytes\""

# Thumb drive assitance
alias thumb="df -lH | grep '/Volumes/*' |  tr -s ' ' | cut -d ' ' -f 9"
alias mvt="thumb | xargs mv $1"
alias ejt="thumb | xargs hdiutil detach"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias whois="whois -h whois-servers.net"
alias hosts="cat /etc/hosts"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"
vpn_func () {
  sudo ifconfig en1 down;
  sudo route flush;
  sudo ifconfig en1 up;
}
alias vpnflush="vpn_func"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Start an HTTP server from a directory
alias server="open http://localhost:8080/ && python -m SimpleHTTPServer 8080"

# Canonical hex dump; some systems have this symlinked
type -t hd > /dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
type -t md5sum > /dev/null || alias md5sum="md5"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# Shortcuts
alias d="cd ~/Documents/Dropbox"
alias p="cd ~/work/projects"
alias g="git"
alias v="vim"
alias sublime='open -a "Sublime Text 2"'
alias em="open -a /Applications/Emacs.app"

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# Empty the Trash
alias emptytrash="rm -rfv ~/.Trash"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do alias "$method"="lwp-request -m '$method'"; done

alias quiet="osascript -e 'set volume output muted true'"
alias away="/System/Library/CoreServices/\"Menu Extras\"/User.menu/Contents/Resources/CGSession -suspend"
alias nightnight="away && pmset sleepnow"

# Bash reload
alias bashreload="source ~/.bash_profile"
alias bashreload-hard="exec bash -l"

# Helper Functions for installed ports and brews
################################################

# Active MQ start and stop aliases
alias amq-start="$ACTIVEMQ_HOME/bin/macosx/activemq start"
alias amq-stop="$ACTIVEMQ_HOME/bin/macosx/activemq stop"

# Redis start and stop aliases
alias redisstart="launchctl load /usr/local/opt/redis/homebrew.mxcl.redis.plist"
alias redisstop="launchctl unload /usr/local/opt/redis/homebrew.mxcl.redis.plist"

# DB start and stop aliases
# Postgres
alias pgstart="/opt/local/lib/postgresql91/bin/pg_ctl -D /opt/local/var/db/postgresql91/defaultdb -l logfile start"
alias pgstop="/opt/local/lib/postgresql91/bin/pg_ctl -D /opt/local/var/db/postgresql91/defaultdb stop -s -m fast"

# MySQL
alias mystart="mysql.server start"
alias mystop="mysql.server stop"

# Mongo
alias mongostart="mongod --config /usr/local/etc/mongod.conf --fork"
alias mongostop="mongo admin --eval 'db.shutdownServer()'"

