# Export Settings
#################

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
#export LC_ALL="C"
export LANG="en_US"
# Add Homebrew paths
export PATH=/usr/local/bin:/usr/local/sbin:~/bin:$PATH
#export PATH=~/bin:$PATH

# Make emacs the default editor
export EDITOR="emacs --quick"

# Don't clear the screen after quitting a manual page
export MANPAGER="less -X"

# Bash History Options
export HISTSIZE=1000000
export HISTCONTROL=ignoredups:erasedups
export HISTIGNORE='&:ls:[bf]g:exit'
#export HISTIGNORE="cd *:[bf]g:exit:pwd:date:clear:mount:umount"
#export HISTTIMEFORMAT='%b %d %H:%M:%S: '
shopt -s histappend
set cmdhist

export HISTTIMEFORMAT='%h/%d/%y – %H:%M:%S: '
#export HISTCONTROL=ignoreboth
# export HISTSIZE=5000
#shopt -s histappend
PROMPT_COMMAND="${PROMPT_COMMAND:+$PROMPT_COMMAND ; }"'echo $$ $USER "$(history 1)" >> ~/.bash_eternal_history'

export LESS="--RAW-CONTROL-CHARS"
export CLICOLOR=1

# Use colors for less, man, etc.
[[ -f ~/.LESS_TERMCAP ]] && . ~/.LESS_TERMCAP

export GREP_OPTIONS="--color=auto"

# Some GNU Settings
export GNUTERM=x11

# XML Catalog Files (required? it's part of tig)
#export XML_CATALOG_FILES="/usr/local/etc/xml/catalog"

# Dynamic Load Paths in OSX
#export DYLD_LIBRARY_PATH=/usr/local/lib

# Third party tools directory
export TOOL_DIR=~/work/tools
export BREW_HOME=/usr/local/bin

# Python auto complete setup
export PYTHONSTARTUP=~/.pythonrc

# Java Home Setup
#export JAVA_HOME="`/usr/libexec/java_home`"

# Java Home Setup
# New Java Home set up courtesy of Paris Apostolopoulos
# http://javapapo.blogspot.com/2013/02/multiple-java-jdks-on-your-macosx.html
#export JAVA_8_HOME=$(/usr/libexec/java_home -v1.8)
#export JAVA_7_HOME=$(/usr/libexec/java_home -v1.7)
#export JAVA_6_HOME=$(/usr/libexec/java_home -v1.6)

#alias java6='export JAVA_HOME=$JAVA_6_HOME'
#alias java7='export JAVA_HOME=$JAVA_7_HOME'
#alias java8='export JAVA_HOME=$JAVA_8_HOME'

#default java8
#export JAVA_HOME=$JAVA_8_HOME

# Open Dita Setup
export DITA_HOME=$TOOL_DIR/dita-ot/current
export PATH=$PATH:$DITA_HOME/bin

# Android
#export ANDROID_TOOLS=/Applications/Android\ Studio.app/sdk/platform-tools/
#export PATH=$PATH:$ANDROID_TOOLS

# Clojure Setup
export PATH=$PATH:$HOME/.cljr/bin

# SBT Setup
export SBT_OPTS="-XX:+CMSClassUnloadingEnabled -XX:MaxPermSize=2048M"

# Scala Setup
#export SCALA_HOME=$TOOL_DIR/scala/current
#export PATH=$PATH:$SCALA_HOME/bin

# Akka Setup
#export AKKA_HOME=$TOOL_DIR/akka/current
#export PATH=$PATH:$AKKA_HOME/bin

# Play Setup
#export PLAY_HOME=$TOOL_DIR/play/current
#export PATH=$PATH:$PLAY_HOME

# Go Setup
export GOPATH=$HOME/work/go
export PATH=$PATH:$GOPATH/bin

# Gradle Home Setup
#export GRADLE_HOME=$TOOL_DIR/gradle/current
#export PATH=$PATH:$GRADLE_HOME/bin

# Active MQ Setup
#export ACTIVEMQ_HOME=$TOOL_DIR/activemq/current
#export PATH=$PATH:$ACTIVEMQ_HOME

# Mallet Setup
#export MALLET_HOME=$TOOL_DIR/mallet/current
#export PATH=$PATH:$MALLET_HOME/bin

# Hadoop Setup
#export HADOOP_INSTALL=$TOOL_DIR/hadoop/current
#export PATH=$PATH:$HADOOP_INSTALL/bin

# Haskell Setup
#export PATH=$PATH:$HOME/Library/Haskell/bin

# NVM and Node
export NVM_DIR=~/.nvm

# Google Closure Compiler
#export CLOSURE_PATH=/usr/local/Cellar/closure-compiler/20141023/libexec
