# Export Settings
#################

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
#export LC_ALL="C"
export LANG="en_US"
# Add Homebrew paths
export PATH=/usr/local/bin:/usr/local/sbin:~/bin:$PATH
#export PATH=~/bin:$PATH

# Make emacs the default editor
export EDITOR="emacs --quick"

# Don't clear the screen after quitting a manual page
export MANPAGER="less -X"

# Bash History Options
export HISTSIZE=1000000
export HISTCONTROL='ignoreboth'
export HISTIGNORE='&:ls:[bf]g:exit'
#export HISTIGNORE="cd *:[bf]g:exit:pwd:date:clear:mount:umount"
export HISTTIMEFORMAT='%b %d %H:%M:%S: '
shopt -s histappend
set cmdhist

export LESS="--RAW-CONTROL-CHARS"
export CLICOLOR=1

# Use colors for less, man, etc.
[[ -f ~/.LESS_TERMCAP ]] && . ~/.LESS_TERMCAP

export GREP_OPTIONS="--color=auto"

# Some GNU Settings
export GNUTERM=x11

# XML Catalog Files (required? it's part of tig)
#export XML_CATALOG_FILES="/usr/local/etc/xml/catalog"

# Dynamic Load Paths in OSX
#export DYLD_LIBRARY_PATH=/usr/local/lib

# Third party tools directory
export TOOL_DIR=~/work/tools
export BREW_HOME=/usr/local/bin

# Java Home Setup
# export JAVA_HOME="`/usr/libexec/java_home`"

# Java Home Setup
# New Java Home set up courtesy of Paris Apostolopoulos
# http://javapapo.blogspot.com/2013/02/multiple-java-jdks-on-your-macosx.html
export JAVA_8_HOME=$(/usr/libexec/java_home -v1.8)
export JAVA_6_HOME=$(/usr/libexec/java_home -v1.6)

alias java6='export JAVA_HOME=$JAVA_6_HOME'
alias java8='export JAVA_HOME=$JAVA_8_HOME'

#default java8
export JAVA_HOME=$JAVA_8_HOME

# Android
#export ANDROID_TOOLS=/Applications/Android\ Studio.app/sdk/platform-tools/
#export PATH=$PATH:$ANDROID_TOOLS

# Clojure Setup
export PATH=$PATH:$HOME/.cljr/bin

# SBT Setup
export SBT_OPTS="-XX:+CMSClassUnloadingEnabled -XX:MaxPermSize=2048M"

# Scala Setup
#export SCALA_HOME=$TOOL_DIR/scala/current
#export PATH=$PATH:$SCALA_HOME/bin

# Akka Setup
#export AKKA_HOME=$TOOL_DIR/akka/current
#export PATH=$PATH:$AKKA_HOME/bin

# Play Setup
#export PLAY_HOME=$TOOL_DIR/play/current
#export PATH=$PATH:$PLAY_HOME

# Go Setup
export GOPATH=$BREW_HOME/go
export PATH=$PATH:$GOPATH/bin

# Gradle Home Setup
#export GRADLE_HOME=$TOOL_DIR/gradle/current
#export PATH=$PATH:$GRADLE_HOME/bin

# Active MQ Setup
#export ACTIVEMQ_HOME=$TOOL_DIR/activemq/current
#export PATH=$PATH:$ACTIVEMQ_HOME

# Mallet Setup
#export MALLET_HOME=$TOOL_DIR/mallet/current
#export PATH=$PATH:$MALLET_HOME/bin

# Hadoop Setup
#export HADOOP_INSTALL=$TOOL_DIR/hadoop/current
#export PATH=$PATH:$HADOOP_INSTALL/bin

# Haskell Setup
#export PATH=$PATH:$HOME/Library/Haskell/bin

# NVM and Node
export NVM_DIR=~/.nvm
#export NVM_HOME=/usr/local/opt/nvm/nvm.sh
#export PATH=$PATH:$NVM_HOME/bin

# Google Closure Compiler
export CLOSURE_PATH=/usr/local/Cellar/closure-compiler/20141023/libexec

# Docker Export for boot2docker
#export DOCKER_HOST=tcp://localhost:2376
#export DOCKER_CERT_PATH=~/.boot2docker/certs/boot2docker-vm
#export DOCKER_TLS_VERIFY=1

# Convey Setup
#export SCALABHA_DIR=$HOME/Work/projects/libraries/Scalabha
#export PATH=$PATH:$SCALABHA_DIR/bin
export CONVEY_DIR=$HOME/work/projects/converseon/convey
#export CONVEY_DIR=$HOME/work/sandbox/convey
export PATH=$PATH:$CONVEY_DIR/bin

# Setup Amazon EC2 Command-Line Tools
#export AWS_RDS_HOME=$TOOL_DIR/RDSCli-1.8.002
#export PATH=$PATH:$AWS_RDS_HOME/bin
# export EC2_HOME=~/.ec2
# export PATH=$PATH:$EC2_HOME/bin
# export EC2_PRIVATE_KEY=`ls $EC2_HOME/pk-*.pem`
# export EC2_CERT=`ls $EC2_HOME/cert-*.pem`
